@page "/DetailSistemas"
@page "/DetailSistemas/{SistemaId:int}"
@inject SistemasService sistemasService
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@rendermode InteractiveServer

<h3>Detalle de Sistemas</h3>
<a href="CreateSistema" class="btn-link" @onclick="() => Nuevo()">
    <span>Agregar un Nuevo Sistema <i class="bi bi-file-earmark-plus-fill"></i></span>
</a>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr bgcolor="6962AD">
                    <th>SistemaID</th>
                    <th>Nombre del Sistema</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sistema in Lista_De_Sistemas)
                {
                    <tr>
                        <td>@sistema.SistemaId</td>
                        <td>@sistema.NombreSistema</td>
                        <td>
                            <a href="/EditSistema/@sistema.SistemaId">
                                <i class="bi bi-pencil-square" style="font-size: 1.5em;"></i>
                            </a>
                        </td>
                        <td>
                            <a href="/DeleteSistema/@sistema.SistemaId" class="link-danger">
                                <i class="bi bi-trash" style="font-size: 1.5em;"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public int? SistemaId { get; set; }
    public Sistemas sistema { get; set; } = new Sistemas();
    public List<Sistemas> Lista_De_Sistemas { get; set; } = new List<Sistemas>();
    public bool Encontrado { get; set; } = false;

    protected override void OnInitialized()
    {
        Lista_De_Sistemas = sistemasService.Listar(ls => true);
    }

    public void Buscar()
    {
        Lista_De_Sistemas = sistemasService.Listar(ls => ls.SistemaId == SistemaId);
        Encontrado = Lista_De_Sistemas.Count > 0;
    }

    public void Nuevo()
    {
        this.sistema = new Sistemas();
    }
}
